.button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
}

.clean,
.cleanInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.cleanInverted {
  color: var(--inverted-primary-color);
}

.outlined {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.filled {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.filledInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.small {
  width: var(--font-lh-m);
  height: var(--font-lh-m);
}

.square.medium {
  width: var(--font-lh-l);
  height: var(--font-lh-l);
}

.square.large {
  width: var(--font-lh-xl);
  height: var(--font-lh-xl);
}

.small {
  font: var(--font-m);
}

.medium {
  font: var(--font-l);
}

.large {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
